* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* FULL SCREEN */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* KIRI POSTER  */
.left {
  flex: 1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* KANAN LOGIN  */
.right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f5f2f2;
}

/* LOGIN BOX */
.login-box {
  position: relative;
  z-index: 2;
  width: 80%;
  max-width: 350px;
  text-align: center;
}

/* LOGO */
.login-box img {
  width: 110px;
  margin-bottom: 15px;
}

/* JUDUL */
.login-box h2 {
  margin-bottom: 10px;
  color: #333;
}

/* SUBTITLE */
.subtitle {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* INPUT GROUP */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  color: #444;
}

/* PASSWORD  */
.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: #666;
}

/* INPUT UMUM */
.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #3f6b5c;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background: #2f5146;
}

/* ERROR */
.error {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    height: 40vh;
  }

  .right {
    height: 60vh;
  }
}
